@use "./styles/utils/variables.scss" as *;

.customerLayout {
	position: relative;
	height: 100%;
}

.customerLayoutContent {
	// TODO: Разобраться с отступами и сделать fullscreen
	padding-top: var(--tg-safe-area-inset-top);
	height: calc(100% - 13.2rem);
	overflow-y: auto;
	border: solid 1px red;
}

.customerCartButtonWrapper {
	position: absolute;
	background-color: $color-surface;

	bottom: 0;
	width: 100%;
	height: 13.2rem;
	padding: 0.8rem 2rem 0;
	border-top: 1px solid rgba($color-text, 0.1);
}
