@use "../utils/variables" as *;

*,
*:after,
*:before {
	box-sizing: border-box;
}

html {
	font-size: calc(100vw / 1920 * 10);
	line-height: 1;

	@media (max-width: 768px) {
		font-size: calc(100vw / 591 * 10);
	}
}

body {
	font-family: var(--font-manrope), sans-serif;
	background-color: $color-bg;
	color: $color-text;

	height: 100vh;
}

a {
	color: inherit;
	outline: none;
	text-decoration: none;
}

button {
	background: none;
	color: inherit;
	cursor: pointer;
	outline: none;
	border: none;
}
